@{
    ViewData["Title"] = "Rental";
}
<body class="template-body">
    <div class="card mt-2">
        <div class="card-header d-flex align-items-center justify-content-between topTitleHeader">

            <h1 class="m-0 title fullTitleLeft"> Library of Revature</h1>
            <!--Search Bar Here-->
            <div class="search-wrap">
                <label for="search">Search Our Catalog!</label>
                <input type="search" id="search" />
            </div>
        </div>
    </div>



    <div class="row card-body card-body-details overallMainDiv">
        <div class="row col-sm-12 col-md-12 col-lg-12 upperSectionComplete">
            <div id="projectsSectionComplete" class="projectsSectionComplete col-sm-12 col-lg-3 order-2 order-lg-1">
                <div class="card-header"><h2 class="activeProjects">Active Projects</h2></div>
                <div id="projectsSectionContent" class="projectsSectionContent" style="height: 693.65px;">
                    <div class="projectsSectionInner card col-12">
                        <div id="divProjects" class="centeredTable col-12" style="padding:0px;">
                            <div id="companyRelatedProjectsList">
                                <!-- Write what you want here in left side boxes -->
                                Renovation<br>
                                <strong>New Rug</strong><br>
                                North Tonawanda, NY 14120<br>
                                <hr>
                                Shipment<br>
                                <strong>New Books Available</strong><br>
                                North Tonawanda, NY 14120<br>
                                <hr>
                                Special Offers<br>
                                <strong>New Sale</strong><br>
                                North Tonawanda, NY 14120<br>
                                <hr>
                                <br>
                            </div>
                            <div class="col-12 companyDemoUrlWithinProjects "></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="mainSectionComplete" class="col-sm-12 col-lg-9 order-1 order-lg-2">
                <div id="mainSectionCompleteSub">
                    <div id="screenLengthSection" class="projectSectionHeightDefiner">
                        <!-- Write what you want here in main box -->
                        <!-- Selection-->

                        <div class="hoverwrap">
                            <img src="~/lib/img/gatsby.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/24">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/six.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/7">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/mocking.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/1">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/aristotle.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/5">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/dune.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/2">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/wild.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/6">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/magic.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/8">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/familiars.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/9">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/dogs.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/10">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/abol.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/11">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/dummies.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/12">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/frank.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/4">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/1984.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/13">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/2cities.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/3">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/hunger-games.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/14">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/catchfire.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/15">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/R.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/16">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/p1.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/17">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/p2.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/18">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/p3.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/19">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/p4.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/20">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/p5.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/21">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/out.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/22">Rent Now!</a></div>
                        </div>
                        <div class="hoverwrap">
                            <img src="~/lib/img/wow.jpg">
                            <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/23">Rent Now!</a></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="DVSL-font-height"><div style="font: 12px Arial;">Mg9!</div></div>
</body>

