@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h1 class="display-4">Library of Revature</h1>
    <h2>Thanks for stopping by!</h2>
</div>
<div class="picks">

<p class="sel">Take a look at our monthly favorites!</p>

<div class="hoverwrap">
    <img src="~/lib/img/mocking.jpg">
    <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/1">Rent Now!</a></div>
</div>
<div class="hoverwrap">
        <img src="~/lib/img/dune.jpg">
        <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/2">Rent Now!</a></div>
</div>
<div class="hoverwrap">
    <img src="~/lib/img/2cities.jpg">
    <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/3">Rent Now!</a></div>
</div>
<div class="hoverwrap">
    <img src="~/lib/img/frank.jpg">
    <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/4">Rent Now!</a></div>
</div>
    <div class="hoverwrap">
        <img src="~/lib/img/aristotle.jpg">
        <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/5">Rent Now!</a></div>
    </div>
    <div class="hoverwrap">
        <img src="~/lib/img/wild.jpg">
        <div class="hovercap"> <a class="button" href="https://localhost:7113/Books/Details/6">Rent Now!</a></div>
    </div>
</div>
<!--Events-->
<div class="events">
    <p>Check out our local events!</p>
    <img src="https://via.placeholder.com/400x300" />
    <img src="https://via.placeholder.com/400x300" />
    <img src="https://via.placeholder.com/400x300" />
    <p>Our last book drive was a huge success! Thank you to everyone who showed up to support your local library!</p>
    <img src="https://via.placeholder.com/400x300" />
    <img src="https://via.placeholder.com/400x300" />
    <img src="https://via.placeholder.com/400x300" />
    <p class="last">Welcome to our new creator space! We would love for you learn with us at our next creator event!</p>
</div>
<div class="info">
    <p>For more information about Revature Library check out our <a href="Home/Info">About The Library</a> section!</p>
</div>
