@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<body class="template-body">
    <div class="card mt-2">
        <div class="card-header d-flex align-items-center justify-content-between topTitleHeader">

            <h1 class="m-0 title fullTitleLeft">Library of Revature</h1>
        </div>
        <div class="row card-body card-body-details overallMainDiv">
            <div class="row col-sm-12 col-md-12 col-lg-12 upperSectionComplete">
                <div id="projectsSectionComplete" class="projectsSectionComplete col-sm-12 col-lg-3 order-2 order-lg-1">
                    <div class="card-header"><h2 class="activeProjects">Active Projects</h2></div>
                    <div id="projectsSectionContent" class="projectsSectionContent" style="height: 693.65px;">
                        <div class="projectsSectionInner card col-12">
                            <div id="divProjects" class="centeredTable col-12" style="padding:0px;">
                                <div id="companyRelatedProjectsList">
                                    <!-- Write what you want here in left side boxes -->
                                    This Just In!<br>
                                    <strong>New To Our Library</strong><br>
                                    The Call of the Wild - Jack London<br />
                                    The Familiars - Stacy Halls
                                    <br>
                                    <hr>
                                    Come Learn With Us!<br>
                                    <strong>Creator Space Annoncements: </strong><br>
                                    New 3d Printing Filament Available<br>
                                    All About Computing Workshop 10/15<br>
                                    <hr>
                                    Helping Our Community!<br>
                                    <strong>Holiday Food Drives</strong><br>
                                    Thanksgiving Food Drive 11/16<br>
                                    Christmas Food Drive 12/16<br>
                                    <hr>
                                    <br>
                                </div>
                                <div class="col-12 companyDemoUrlWithinProjects "></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="mainSectionComplete" class="col-sm-12 col-lg-9 order-1 order-lg-2">
                    <div id="mainSectionCompleteSub">
                        <div id="screenLengthSection" class="projectSectionHeightDefiner">
                            <!-- Write what you want here in main box -->
                            <h3 class="ps-h3-overviewSection">
                                Lorem ipsum dolor sit amet, alienum voluptaria pri ex, adhuc viris at est.
                            </h3>
                            <h6 class="ps-h6-overviewSection">
                                Lorem ipsum dolor sit amet, alienum voluptaria pri ex, adhuc viris at est. Malorum mnesarchum definitionem pro ea. Minim placerat cum cu, eruditi denique reprehendunt eum cu. Sed eu wisi virtute deterruisset, mea rebum nulla decore te.
                                Sumo duis putent his ad. In affert ubique eripuit qui. Mazim temporibus ne vim. Sit ad aeque salutatus. Idque efficiantur in sed, sit ne offendit ullamcorper, congue vidisse invenire nam in. Pro at iusto aliquid, ut vim velit nostrud.
                                Eu adhuc debitis intellegebat sit, cum te noster mediocritatem. Populo putant feugiat ut est, sit cu dicat dicta. Usu essent fierent adversarium an, odio mutat tractatos ius no, ex nec veniam virtute. Saepe euismod vis id, vel ad populo utroque interesset.
                                Ei nominavi tincidunt mel. Nihil labitur aliquid mea ex. Has eu duis prompta eruditi, ut nostrum electram vix. At propriae complectitur sit, eum ut amet accumsan epicurei. Diam animal repudiare ea mea, mazim tritani ne vim.
                                Nam ad adhuc iuvaret moderatius, sale porro molestiae sed te. Augue audire lucilius te his, idque partiendo eum cu, ne per facer elitr pericula. Partem patrioque ius id, id eam nisl dolor voluptatibus, te vidit graeco noluisse per. Eu cum tritani referrentur, iudicabit conceptam pri ne, eu dictas accumsan accusamus nam. Id verear nostrum intellegebat eum.
                            </h6><br />
                            <h3 class="ps-h3-overviewSection">
                                Lorem ipsum dolor sit amet, alienum voluptaria pri ex, adhuc viris at est.
                            </h3>
                            <h6 class="ps-h6-overviewSection">
                                Lorem ipsum dolor sit amet, alienum voluptaria pri ex, adhuc viris at est. Malorum mnesarchum definitionem pro ea. Minim placerat cum cu, eruditi denique reprehendunt eum cu. Sed eu wisi virtute deterruisset, mea rebum nulla decore te.
                                Sumo duis putent his ad. In affert ubique eripuit qui. Mazim temporibus ne vim. Sit ad aeque salutatus. Idque efficiantur in sed, sit ne offendit ullamcorper, congue vidisse invenire nam in. Pro at iusto aliquid, ut vim velit nostrud.
                                Eu adhuc debitis intellegebat sit, cum te noster mediocritatem. Populo putant feugiat ut est, sit cu dicat dicta. Usu essent fierent adversarium an, odio mutat tractatos ius no, ex nec veniam virtute. Saepe euismod vis id, vel ad populo utroque interesset.
                                Ei nominavi tincidunt mel. Nihil labitur aliquid mea ex. Has eu duis prompta eruditi, ut nostrum electram vix. At propriae complectitur sit, eum ut amet accumsan epicurei. Diam animal repudiare ea mea, mazim tritani ne vim.
                                Nam ad adhuc iuvaret moderatius, sale porro molestiae sed te. Augue audire lucilius te his, idque partiendo eum cu, ne per facer elitr pericula. Partem patrioque ius id, id eam nisl dolor voluptatibus, te vidit graeco noluisse per. Eu cum tritani referrentur, iudicabit conceptam pri ne, eu dictas accumsan accusamus nam. Id verear nostrum intellegebat eum.
                            </h6><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="DVSL-font-height"><div style="font: 12px Arial;">Mg9!</div></div>
</body>

