html {
    font-size: 14px;
}
@import '~mdb-ui-kit/src/scss/mdb.pro.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap') @media (min-width: 768px)

{
    html

{
    font-size: 16px;
}

}

html {
    position: relative;
    min-height: 100%;
}

/* top bar styling */
.navbar {
    border-bottom: 3px solid #0288d1;
}

body {
    margin-bottom: 60px;
}


a {
    text-decoration: none;
}


/* page headings */
.header {
    text-align: center;
    padding: 25px;
    border-bottom: 4px solid #0288d1;
    font-family: 'Roboto', sans-serif;
}

/* p tags in events section*/
.sel, .events p {
    font-size: 25px;
}

/*our picks for the mont*/
.picks {
    padding: 14px;
}

/*hover effect on book covers*/
.hoverwrap {
    position: relative;
    max-width: 200px;
    display: inline-block;
}

 .hoverwrap img {
        width: 100%;

 }

 /* caption when hovering on book covers*/
.hovercap {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.hovercap {
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.hoverwrap:hover .hovercap {
    visibility: visible;
    opacity: 1;
}

/* general button styling*/
.button {
    background-color: #0288d1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Create New Button*/
.create{
    text-align: center;
}

/* smaller buttons (on selection page) */
.button-sm {
    background-color: #0288d1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

/* events on home screen*/
.events {
    border-top: 4px solid #0288d1;
}

/*last section on home screen*/
.last {
    border-bottom: 4px solid #0288d1;
}

.hide {
    display: none;
}

#myInput{
    background-image: url('search.png'));
}

.method{
    color: white;
}

.dets{
    font-size: 20px;
}

.recs {
    border-top: 4px solid #0288d1;
}